@import "prismjs/themes/prism-tomorrow.css";

* {
    box-sizing: border-box;
}

::selection {
    color: white;
    background-color: #A60F2D;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-size: 20px;
    min-height: 100vh;
}

main {
    width: 100%;
    padding: 0 15%;
    flex: 1;
    grid-area: main;
}

h1 {
    text-align: center;
}

h2 {
    position: relative;
}

h2::before {
    content: "";
    height: 6px;
    width: 100px;
    background-color: #A60F2D;
    position: absolute;
    bottom: -6px;
}

h3 {
    position: relative;
}

h3::before {
    content: "";
    height: 4px;
    width: 70px;
    background-color: #A60F2D;
    position: absolute;
    bottom: -6px;
}

a {
    color: #A60F2D;
    position: relative;
    text-decoration: none;
}

a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #A60F2D;
    transition: width 0.3s ease;
}

a:hover::before {
    width: 100%;
}

input, select, option {
    accent-color: #A60F2D;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 4px 8px;
}

th {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

code, pre {
    font-family: "JetBrains Mono" !important;
}

@media (max-width: 768px) {
    main {
        padding: 0 5%;
    }
}