.sidebar {
    width: 100%;
    background-color: #EBEBEB;
    grid-area: sidebar;
    height: 100svh;
    max-height: 100svh;
    position: sticky;
    top: 0;
}

.sidebarHeader {
    background-color: #A60F2D;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    gap: 8px;
    text-align: center;
}

.logoWrapper {
    height: 2em;
    aspect-ratio: 11/4;
    position: relative;
}

.search {
    font-size: 20px;
    padding: 8px;
    width: 100%;
    font-family: "Montserrat";
    border-radius: 10px;
}

.subSelect {
    font-size: 20px;
    padding: 8px;
    width: 100%;
    font-family: "Montserrat";
    border-radius: 10px;
    accent-color: #A60F2D;
}

.route {
    width: 100%;
    padding: 10px;
}

.route:hover {
    background-color: #CCCCCC;
}

.folderWrapper {
    width: 100%;
}

.folder {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
}

.folder:hover {
    background-color: #CCCCCC;
}

.folderChildren {
    margin-left: 18px;
    border-left: 2px solid #A60F2D;
    position: relative;
    top: -5px;
}

.contents {
    height: 100%;
    overflow-y: scroll;
}