.footer {
    width: 100%;
    background-color:  #4D4D4D;
    padding: 24px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.flexCol {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column-reverse;
        gap: 24px;
        align-items: start;
    }
    .links {
        flex-direction: column;
        align-items: start;
    }
}