.header {
    background-color: #A60F2D;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    font-weight: 600;
}

.titleLink {
    display: contents;
}

.titleLink::before, .titleLink:hover::before {
    display: none;
}

.titleWrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-size: 56px;
    align-items: center;
    margin-left: 10px;
}

.logoWrapper {
    height: 1em;
    aspect-ratio: 11/4;
    position: relative;
}

.linkWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    gap: 18px;
    font-size: 24;
    margin-right: 10px;
}

.link {
    color: white;
    position: relative;
    font-weight: 500;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.link:hover::before {
  width: 100%;
}

.joinButton {
    color: white;
    border: 3px solid white;
    padding: 8px;
    border-radius: 12px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.joinButton:hover {
    background-color: white;
    color: #A60F2D;
}

.donateButton {
    background-color: white;
    color: black;
    border: 3px solid white;
    padding: 8px;
    border-radius: 12px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.donateButton:hover {
    background-color: #14769C;
    color: white;
}

.joinButton::before, .donateButton::before, .joinButton:hover::before, .donateButton:hover::before {
    display: none;
    height: 0;
    width: 0;
}